
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0D3D72;
  color: white;
}

.logo h1 {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.auth-buttons .login {
  background-color: #f7d060;
}

.auth-buttons .signup {
  background-color: #007bff;
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    background-color: #0D3D72;
    text-align: center;
    transition: left 0.3s ease;
  }

  nav.open ul {
    left: 0;
  }

  nav ul li {
    margin: 15px 0;
  }

  
  .auth-buttons {
    display: none;
  }

  
  .hamburger {
    display: flex;
  }
}
